---
import * as articleUtils from "@/utils/articles";
import * as commonUtils from "@/utils/common";
import * as datocms from "@/utils/datocms/content-delivery-api";
import ArticleDetail from "./article-detail.astro";

const sentiment = commonUtils.getSentimentByDomain(Astro.request.url);
const articles = await datocms.fetchEvaluatedArticles(sentiment);
const enhancedArticles = articles.map(articleUtils.enhanceArticle);
---
<section class="divide-y divide-slate-200">
  {enhancedArticles.map((article) => (
    <ArticleDetail
      link={article.link}
      organization={article.publication.organization}
      datetime={article.formattedDatetime} 
      title={article.title} 
      sentiment={article.aiSentiment} 
      comment={article.aiComment}
    />
  ))}
</section>
