---
import * as utils from "@/utils/common";
import * as datocms from "@/utils/datocms/content-delivery-api";
import { format } from "date-fns";
import { it } from "date-fns/locale";
import ArticleDetail from "./article-detail.astro";

const domain = Astro.request.url;
const sentiment = utils.getSentimentByDomain(domain);
const articles = await datocms.fetchEvaluatedArticles(sentiment);

const enhancedArticles = articles.map((article) => ({
  ...article,
  formattedDatetime: format(article.publishedDatetime, "d MMMM yyyy, HH:mm", {
    locale: it,
  }),
}));
---
<section class="divide-y divide-slate-200">
  {enhancedArticles.map((article) => (
    <ArticleDetail
      link={article.link}
      organization={article.publication.organization}
      datetime={article.formattedDatetime} 
      title={article.title} 
      sentiment={article.aiSentiment} 
      comment={article.aiComment}
    />
  ))}
</section>
