---
import * as datocms from "./datocms";
import * as openai from "./openai";
import * as utils from "./utils";

import { groupBy } from "@/utils";
import ArticleDetail from "./article-detail.astro";

const publications = await datocms.fetchPublications();
const allArticles = await utils.extractArticles(publications);

const grouped = groupBy(allArticles, "organization");
const promises = Object.entries(grouped).map(async ([, articles]) => {
  return await openai.evaluateArticles(articles.slice(0, 5));
});

const evaluated = await Promise.all(promises).then((data) => data.flat());
evaluated.sort((a, b) => b.article.pubDate - a.article.pubDate);
---
<section class="divide-y divide-slate-200">
  {evaluated.map((data) => (
    <ArticleDetail
      link={data.article.link}
      organization={data.article.organization} 
      datetime={data.article.formattedDateTime} 
      title={data.article.title} 
      sentiment={data.sentiment} 
      comment={data.comment}
    />
  ))}
</section>
