---
import * as datocms from "@/utils/datocms/content-delivery-api";
import type { Sentiment } from "@/utils/openai/types";
import { format } from "date-fns";
import { it } from "date-fns/locale";
import ArticleDetail from "./article-detail.astro";

const isProd = import.meta.env.PROD;

let sentiment: Sentiment | null = null;
if (isProd) {
  sentiment = Astro.request.url.includes("buone") ? "positive" : "negative";
}

const articles = await datocms.fetchEvaluatedArticles(sentiment);

const enhancedArticles = articles.map((article) => ({
  ...article,
  formattedDatetime: format(article.publishedDatetime, "d MMMM yyyy, HH:mm", {
    locale: it,
  }),
}));
---
<section class="divide-y divide-slate-200">
  {enhancedArticles.map((article) => (
    <ArticleDetail
      link={article.link}
      organization={article.publication.organization}
      datetime={article.formattedDatetime} 
      title={article.title} 
      sentiment={article.aiSentiment} 
      comment={article.aiComment}
    />
  ))}
</section>
