---
import { syncEvaluatedArticles } from "@/utils/articles/sync-evaluated-articles";
import * as datocms from "@/utils/datocms/content-delivery-api";
import { format } from "date-fns";
import { it } from "date-fns/locale";
import ArticleDetail from "./article-detail.astro";

await syncEvaluatedArticles({
  maxArticlesPerPublication: 3,
  maxArticlesStored: 30,
});

const articles = await datocms.fetchEvaluatedArticles();

const enhancedArticles = articles.map((article) => ({
  ...article,
  formattedDatetime: format(article.publishedDatetime, "d MMMM yyyy, HH:mm", {
    locale: it,
  }),
}));
---
<section class="divide-y divide-slate-200">
  {enhancedArticles.map((article) => (
    <ArticleDetail
      link={article.link}
      organization={article.publication.organization}
      datetime={article.formattedDatetime} 
      title={article.title} 
      sentiment={article.aiSentiment} 
      comment={article.aiComment}
    />
  ))}
</section>
