---
import * as utils from "../utils";

const publications = await utils.fetchPublications();
const articles = await utils.extractArticles(publications);
const evaluated = await utils.evaluateArticles(articles);

const colors = {
  positive: "text-green-500",
  negative: "text-red-500",
  neutral: "text-gray-500",
};
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>buone.news</title>
	</head>
	<body>
    <div class="container mx-auto my-4">
      <div class="grid grid-cols-1">
        {evaluated.map((data) => (
          <div class="p-6 border-border border-b">
          <h2 class="text-lg font-bold">{data.article.title}</h2>
            <p>{data.article.description}</p>
            <p class="text-sm">{data.article.organization}</p>
            <div>
              <span class=`text-sm font-bold ${colors[data.sentiment]}`>{data.sentiment}</span>
            </div>
            <div class="text-sm text-gray-500">
              {data.comment}
            </div>
          </div>
        ))}
      </div>
    </div>
	</body>
</html>

