---
import type { Sentiment } from "../utils/evaluate-articles";
const { link, organization, datetime, title, sentiment, comment } = Astro.props;

const colors: { [key in Sentiment]: string } = {
  positive: "text-green-500",
  negative: "text-red-500",
  neutral: "text-sky-500",
};
---
<article>
  <a href={link} class="flex flex-col p-6 items-start space-y-1 hover:bg-slate-100 active:bg-slate-200">
    <div class="text-sm leading-7 text-slate-500">
      <span class="font-semibold">{organization},</span>
      <time>{datetime}</time>
      <span> — </span>
      <span class=`font-bold ${colors[sentiment as Sentiment]}`>{sentiment}</span>
    </div>
    <h1 class="text-lg font-bold text-slate-900">{title}</h1>
    <div class="text-base leading-7 text-slate-700">
      {comment}
    </div>
  </a>
</article>
