---
import type { PageFragment } from "@/codegen/graphql";
import BaseHead from "../components/layout/base-head.astro";
import Footer from "../components/layout/footer.astro";
import Header from "../components/layout/header.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
  favicon: string;
  twitterCard: string;
  pages: PageFragment[];
}

const { title, description, image, favicon, twitterCard, pages } = Astro.props;
---
<!doctype html>
<html lang="it">
  <head>
    <BaseHead 
      title={title} 
      description={description} 
      image={image} 
      favicon={favicon} 
      twitterCard={twitterCard}
    />
  </head>
  <body class="relative flex flex-col min-h-screen">
    <header class="sticky top-0 bg-white">
      <Header pages={pages} />
    </header>
    <main class="flex-grow mx-auto w-full max-w-2xl">
      <slot />
    </main>
    <footer class="border-border border-t border-t-slate-200 py-6">
      <Footer pages={pages} />
    </footer>
  </body>
</html>
